{% set largetext_default = 'Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.' %}
{% set address_default = '<p class="address"><span class="address-line1">123 Fake St.</span><br>
<span class="locality">New York</span>, <span class="administrative-area">NY</span> <span class="postal-code">12345</span><br>
<span class="country">United States</span></p>' %}

<div class="large-info">
  <img src="{{ image|default(img.landscape) }}" alt="{{ image_alt }}" class="large-info__img">
  <div class="large-info__text">
    <h2 class="heading-2 heading-2--red large-info__fullname">{{ fullname|default('Joyce K. Anastasi') }}</h2>
    <h3 class="large-info__subtitle large-info__degrees">{{ degrees|default('PhD, DrNP, FAAN, LAc') }}</h3>
    <h4 class="large-info__largetext">{{ jobtitle|default(largetext_default) }}</h4>
    <a href="mailto:{{ email }}" class="email-icon email-icon--red large-info__link">{{ email|default('ja2188@ny.edu') }}</a>
    <a href="tel:{{ phone|replace({' ': '', '(': '', ')': '-' }) }}" class="phone-icon large-info__link">{{ phone|default('555-555-5555') }}</a>
    <div class="large-info__address">
      {{ address|default(address_default) }}
    </div>
  </div>
</div>
