<div id="tabs" class="tabs no-js">
  <ul class="tabs__nav">
    <li>
      <a href="#overview" class="tabs__link is-active">Overview</a>
    </li>
    <li>
      <a href="#curriculum" class="tabs__link">Curriculum</a>
    </li>
    <li>
      <a href="#eligibility" class="tabs__link">Eligibility</a>
    </li>
    <li>
      <a href="#apply" class="tabs__link">Apply</a>
    </li>
    <li>
      <a href="#faq" class="tabs__link">FAQ</a>
    </li>
  </ul>
  <div class="tabs__tab is-active">
    <div id="overview" class="tabs__content">
      <p>{{ overview }}</p>
    </div>
  </div>
  <div class="tabs__tab">
    <div id="curriculum" class="tabs__content">
      <p>{{ curriculum }}</p>
    </div>
  </div>
  <div class="tabs__tab">
    <div id="eligibility" class="tabs__content">
      <p>{{ eligibility }}</p>
    </div>
  </div>
  <div class="tabs__tab">
    <div id="apply" class="tabs__content">
      <p>{{ apply }}</p>
    </div>
  </div>
  <div class="tabs__tab">
    <div id="faq" class="tabs__content">
      <p>{{ faq }}</p>
    </div>
  </div>
</div>
