<button type="button" id="main-menu-toggle" class="main-menu-toggle"></button>

<nav id="main-menu" class="main-menu">
  <ul class="main-menu__list" id="main-menu__list">
    <li class="main-menu__item main-menu__item--with-child">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Apply') }}</a>
      <button class="main-menu__next" type="button" data-childLevel="1"></button>
      <ul class="main-menu__list main-menu__list--child">
        <button class="main-menu__back" type="button" data-childLevel="0">Back</button>
        <li class="main-menu__item main-menu__item--with-child">
          <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Baccalaureate') }}</a>
          <button class="main-menu__next" type="button" data-childLevel="2"></button>
          <ul class="main-menu__list main-menu__list--child">
            <button class="main-menu__back" type="button" data-childLevel="1">Back</button>
            <li class="main-menu__item">
              <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Accelerated BS') }}</a>
            </li>
            <li class="main-menu__item">
              <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('BS') }}</a>
            </li>
            <li class="main-menu__item">
              <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('RN to BS') }}</a>
            </li>
            <li class="main-menu__item">
              <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Transfer') }}</a>
            </li>
            <li class="main-menu__item">
              <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Global Public Health/Nursing Combined Major') }}</a>
            </li>
          </ul>
        </li>
        <li class="main-menu__item">
          <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Masters') }}</a>
        </li>
        <li class="main-menu__item">
          <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Doctorate') }}</a>
        </li>
      </ul>
    </li>
    <li class="main-menu__item main-menu__item--with-child">
      <a href="{{ menu_link_url }}" class="main-menu__link" data-childLevel="1">{{ menu_link_text|default('Academic Programs') }}</a>
      <button class="main-menu__next" type="button" data-childLevel="1"></button>
      <ul class="main-menu__list main-menu__list--child">
        <button class="main-menu__back" type="button" data-childLevel="0">Back</button>
        <li class="main-menu__item">
          <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Baccalaureate') }}</a>
        </li>
        <li class="main-menu__item">
          <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Masters') }}</a>
        </li>
        <li class="main-menu__item">
          <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Doctorate') }}</a>
        </li>
      </ul>
    </li>
    <li class="main-menu__item">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Admissions') }}</a>
    </li>
    <li class="main-menu__item">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Faculty & Research') }}</a>
    </li>
    <li class="main-menu__item">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Global Initiatives') }}</a>
    </li>
    <li class="main-menu__item">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Innovation') }}</a>
    </li>
    <li class="main-menu__item">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('News & Events') }}</a>
    </li>
    <li class="main-menu__item">
      <a href="{{ menu_link_url }}" class="main-menu__link">{{ menu_link_text|default('Additional Material') }}</a>
    </li>
  </ul>
  <button type="button" id="main-menu__close" class="main-menu__close"></button>
</nav>
