{#
/**
 * Available variables:
 * - heading_2 - the content of the heading (typically text)
 * - heading_2_url - the url the heading should poing to
 * - heading_2_modifiers - array of modifiers to add to the base classname
 * - heading_2_base_class - the base class name
 * - heading_2_blockname - blockname prepended to the base classname
 * - heading_2_link_base_class - override the link base class
 * - heading_2_link_blockname - override the link block name
 */
#}
<h2 class="{{ heading_2_base_class|default('heading-2') }}{% for modifier in heading_2_modifiers %} {{ heading_2_base_class|default('heading-2') }}--{{ modifier }}{% endfor %}{% if heading_2_blockname %} {{ heading_2_blockname }}__{{ heading_2_base_class|default('heading-2') }}{% endif %}">
  {% if heading_2_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_base_class": heading_2_link_base_class,
        "link_blockname": heading_2_link_blockname|default('heading-2'),
        "link_url": heading_2_url,
        "link_content": heading_2,
      }
    %}
  {% else %}
    {{ heading_2 }}
  {% endif %}
</h2>
