{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
<div class="m-logo">
  <div class="m-logo__svg-wrapper">
    <a class="m-logo__link" href="{{ url }}">
      <svg class="m-logo__svg"><use xlink:href="{{ base_path ~ directory }}/svg/svg-art.svg#mainspring-logo"></use></svg>
      <div class="m-logo__hidden-text">{{ 'Home'|t }}</div>
    </a>
  </div>
</div>

{# {% if site_logo %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
{% endif %}
{% if site_name %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
{% endif %}
{{ site_slogan }} #}
