<a class="link{% if modifiers %}{% for modifier in modifiers %} {% if blockname %}{{ blockname }}__{% endif %}link--{{ modifier }}{% endfor %}{% elseif blockname %} {{ blockname }}__link{% endif %}" href="{{ link_url }}">{{ link_content }}</a>
