{#
/**
 * Available variables:
 * - heading - the content of the heading (typically text)
 * - heading_url - the url the heading should poing to
 * - heading_modifiers - array of modifiers to add to the base classname
 * - heading_base_class - the base class name
 * - heading_blockname - blockname prepended to the base classname
 * - heading_link_base_class - override the link base class
 * - heading_link_blockname - override the link block name
 */
#}
{% set heading_base_class_var = heading_base_class|default('heading-3') %}

<h3 class="{{ heading_base_class_var }}{% for modifier in heading_modifiers %} {{ heading_base_class_var }}--{{ modifier }}{% endfor %}{% if heading_blockname %} {{ heading_blockname }}__{{ heading_base_class_var }}{% endif %}">
  {% if heading_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_base_class": heading_link_base_class,
        "link_blockname": heading_link_blockname|default('heading-3'),
        "link_url": heading_url,
        "link_content": heading,
      }
    %}
  {% else %}
    {{ heading }}
  {% endif %}
</h3>
