{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('site-main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}

{% if page.sidebar|render %} {# this may or may not correctly filter sidebar #}
  {% set sidebar = TRUE %}
  {% set main_modifiers = main_modifiers|merge(['with-sidebar']) %}
  {% set main_content_modifiers = main_content_modifiers|merge(['with-sidebar']) %}
{% endif %}

<div {{ bem('layout-container', (layout_modifiers)) }}>
  {% block page_header %}
    {% include "@organisms/site/site-header/site-header.twig" %}
  {% endblock %}

  {% block page_system %}
    {{ page.breadcrumb }}
    {{ page.highlighted }}
    {{ page.help }}
    {{ messages }}
  {% endblock %}

  <main role="main" {{ bem(main_base_class, (main_modifiers), main_blockname) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% if sidebar == TRUE %}
      <aside class="main-sidebar" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}

    <div {{ bem(main_content_base_class, (main_content_modifiers), main_content_blockname) }}>
      {% block page_content %}

        {% if site_title %}
          {% include "@atoms/02-text/00-headings/_heading.twig" with {
            "heading_level": 1,
            "heading": site_title,
            "heading_modifiers": ["margin"],
          } %}
        {% endif %}

        {{ page.content }}

      {% endblock %}
    </div>

  </main>

  {% block page_footer %}
    {% include "@organisms/site/site-footer/site-footer.twig" %}
  {% endblock %}
</div>
