<a href="{{ button_url }}" class="button{% if modifiers %}{% for modifier in modifiers %} {% if blockname %}{{ blockname }}__{% endif %}button--{{ modifier }}{% endfor %}{% elseif blockname %} {{ blockname }}__button{% endif %}">{{ button_text }}</a>
