<div {% if attributes %}{{ attributes }}{% endif %}>
  <a class="video-overlay" id="video-overlay" href="{{ video_url }}" data-video="{{ video_url }}">
    {{ img_src|default('<img src="../../../../themes/custom/nyunursing/images/jennie.jpg" />') }}
    <div class="video-overlay__content">
      <div class="video-overlay__content-inner">
        {% if video_title %}<h2 class="heading-2 video-overlay__title">{{ video_title }}</h2>{% endif %}
        <div class="video-overlay__play-wrap">
          <img class="video-overlay__play" src="../../../../themes/custom/nyunursing/images/play.png" />
        </div>
        {% if video_text %}<h3 class="heading-3 video-overlay__text">{{ video_text }}</h3>{% endif %}
      </div>
    </div>
  </a>
</div>
