<ul class="sidebar-menu" id="sidebar-menu">
  <li class="sidebar-menu__item--active">
    <h2 class="sidebar-menu__title">{{ sidebarmenu_title|default('Sidebar Title') }}</h2>
    <ul class="sidebar-menu sidebar-menu__sub">
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/">{{ sidebarmenu_item|default('Level 2') }}</a>
      </li>
      <li class="sidebar-menu__item">
        <a class="sidebar-menu__link" href="/">{{ sidebarmenu_item|default('Other Level 2') }}</a>
      </li>
    </ul>
  </li>
  <li class="sidebar-menu__item">
    <a class="sidebar-menu__link" href="/">{{ sidebarmenu_item|default('Other Level 1') }}</a>
  </li>
  <li class="sidebar-menu__item">
    <a class="sidebar-menu__link" href="/">{{ sidebarmenu_item|default('Another Level 1') }}</a>
  </li>
  <li class="sidebar-menu__item">
    <a class="sidebar-menu__link" href="/">{{ sidebarmenu_item|default('Yet Another Level 1') }}</a>
  </li>
</ul>
