{#
/**
 * Available variables:
 * - heading_4 - the content of the heading (typically text)
 * - heading_4_url - the url the heading should poing to
 * - heading_4_modifiers - array of modifiers to add to the base classname
 * - heading_4_base_class - the base class name
 * - heading_4_blockname - blockname prepended to the base classname
 * - heading_4_link_base_class - override the link base class
 * - heading_4_link_blockname - override the link block name
 */
#}
{% set heading_4_base_class_var = heading_4_base_class|default('heading-4') %}

<h4 class="{{ heading_4_base_class_var }}{% for modifier in heading_4_modifiers %} {{ heading_4_base_class_var }}--{{ modifier }}{% endfor %}{% if heading_4_blockname %} {{ heading_4_blockname }}__{{ heading_4_base_class_var }}{% endif %}">
  {% if heading_4_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_base_class": heading_4_link_base_class,
        "link_blockname": heading_4_link_blockname|default('heading-4'),
        "link_url": heading_4_url,
        "link_content": heading_4,
      }
    %}
  {% else %}
    {{ heading_4 }}
  {% endif %}
</h4>
