{% if grid_title %}
<h2 class="heading-2 header-icon-bg">{{ grid_title }}</h2>
{% endif %}

<div class="{% if variation %}card-grid--{{ variation }}{% endif %}">
  {# Drupal content (views) #}
  {% if rows %}
    {% for row in rows %}
      {{ row.content }}
    {% endfor %}
  {# Drupal content (paragraphs) #}
  {% elseif paragraphs %}
    {{ paragraphs }}
  {# PL content in JSON #}
  {% else %}
    {% for card in cards %}
      {% include "@molecules/cards/01-card/card.twig"
        with {
          "card_img": card.card_img,
          "card_sub": card.card_sub,
          "card_body": card.card_body,
          "card_title": card.card_title,
          "card_link": card.card_link,
          "variation": variation,
          "card_caption": card.card_caption,
          "card_icon": card.card_icon,
          "title_first": card.title_first
        }
      %}
    {% endfor %}
  {% endif %}
</div>

{% if more_link %}
<div class="more-link">{{ more_link }}</div>
{% endif %}
