<div class="card{% if card_modifiers %}{% for modifier in card_modifiers %} {% if blockname %}{{ blockname }}__{% endif %}card--{{ modifier }}{% endfor %}{% elseif blockname %} {{ blockname }}__card{% endif %}">
  {% if card_img %}
    <div class="card__img">
      <img src="{{ card_img }}" />
    </div>
  {% elseif image %}
    <div class="card__img">
      {{ image }}
    </div>
  {% endif %}
  {{ title_prefix }}
  {% include "@atoms/02-text/00-headings/heading-2/heading-2.twig"
    with {
      "heading_2": card_title,
      "heading_2_url": card_link,
      "blockname": card_blockname,
      "heading_2_modifiers": card_title_modifiers
    }
  %}
  {{ title_suffix }}
  {% if card_sub %}
    <div class="card__sub">
      {{ card_sub|raw }}
    </div>
  {% endif %}
  {% if card_body %}
    <div class="card__body">
      {{ card_body|raw }}
    </div>
  {% endif %}
</div>
