<div class="sg-font-faces">
  {% for item in font_faces %}
    <div class="sg-font-face-sample" style="font-family: {{ item.font_family }}; font-weight: {{ item.font_weight }}; font-style: {{ item.font_style }}">
      <div class="sg-font-face-info">
        {{ item.name }}: {{ item.font_weight }}, {{ item.font_style }}
      </div>
    </div>
  {% endfor %}
</div>
{% if meta %}
  <p> <small>{{ meta.description }}</small> </p>
{% endif %}
