<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../../../../themes/contrib/fourk/dist/style.css?{{ cacheBuster }}" media="all" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
    <!-- for js not found errors (only in styleguide)-->
  	<div class="hide">
  		<div id="tabs" class="tabs no-js">
  		  <ul class="tabs__nav">
  		    <li>
  		      <a href="#overview" class="tabs__link is-active">Overview</a>
  		    </li>
  		  </ul>
  		</div>
  	</div>
