{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
{{ title_prefix }}
{% if title %}
  <h1 class="heading-1{% if heading_1_modifiers %}{% for modifier in heading_1_modifiers %} {% if heading_1_blockname %}{{ heading_1_blockname }}__{% endif %}heading-1--{{ modifier }}{% endfor %}{% elseif heading_1_blockname %} {{ heading_1_blockname }}__heading-1{% endif %}">
    {% if heading_1_url %} {% include "@atoms/01-links/link/link.twig"
      with {
        "link_url": heading_1_url,
        "link_text": heading_1,
        "blockname": "heading-1"
      }
    %}
    {% else %}
      {{ heading_1 }}
    {% endif %}
  </h1>
{% endif %}
{{ title_suffix }}
