{#
/**
 * Available variables:
 * - heading_1 - the content of the heading (typically text)
 * - heading_1_url - the url the heading should poing to
 * - heading_1_modifiers - array of modifiers to add to the base classname
 * - heading_1_base_class - the base class name
 * - heading_1_blockname - blockname prepended to the base classname
 * - heading_1_link_base_class - override the link base class
 * - heading_1_link_blockname - override the link block name
 */
#}
{% set heading_1_base_class_var = heading_1_base_class|default('heading-1') %}

<h1 class="{{ heading_1_base_class_var }}{% for modifier in heading_1_modifiers %} {{ heading_1_base_class_var }}--{{ modifier }}{% endfor %}{% if heading_1_blockname %} {{ heading_1_blockname }}__{{ heading_1_base_class_var }}{% endif %}">
  {% if heading_1_url %}
    {% include "@atoms/01-links/link/link.twig"
      with {
        "link_base_class": heading_1_link_base_class,
        "link_blockname": heading_1_link_blockname|default('heading-1'),
        "link_url": heading_1_url,
        "link_content": heading_1,
      }
    %}
  {% else %}
    {{ heading_1 }}
  {% endif %}
</h1>
